body {
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(245,239,238);
}

.header{
    font-family: 'Cinzel', serif;
    position: fixed;
    top: 0;    
    width: 100%;
    background: #5d1616;
    color: rgba(255,205,25,1);
    align-content: center;
    font-size:small;
}

.logo{
    width: 100px;
    height: 100px;
}

.webtitle{
    text-decoration:none;
    color:rgba(255,205,25,1);
}

h3{
    color: #5d1616;
}

    
.formbody{
    padding-top: 150px;
}

#applicationidform{
    position:relative;
    display:inline-flex;
}

.title {
    position: relative;
    font-weight: bold;
    font-size: medium;
}

.PersonalInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.PersonalInfo label {
    margin-right: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-flex;
    width: 100px;
    text-align: center;
}

.PersonalInfo input {
    margin-bottom: 5px;
    width: calc(33% - 10px);
}

.Gender {
    margin-top: 5px;
}

.Gender input {
    margin: 0.4rem;
}

.container form {
    margin-top: 10px;
    position: relative;
    min-height: 500px;
}


button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: small;
}

.Course {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.Course label {
    margin-right: 90px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-flex;
    width: 100px;
    text-align: center;
}

.Course input {
    margin-bottom: 5px;
    width: calc(33% - 10px);
}


.address {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.address label {
    margin-right: 90px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-flex;
    width: 100px;
    text-align: center;
}